@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500");
*{
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  user-select: none;
}
input {
  user-select: auto !important;
}
body{
  background: url('./res/coffee.jpg');
  background-position: bottom !important;
  background-repeat: round;
  background-size: cover;
}
.loading{
  position: relative !important;
  width: 100% !important;
}
.left {
  text-align: center;
  display: inline;
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: white;
  transition: all ease-out 0.5s;
}
.left h1 {
  text-align: center;
  font-weight: 400;
  margin-top: 4rem;
  font-size: 4rem;
  color: gray;
  transition: all linear 0.3s;
}
.left h5 {
  font-weight: 400;
  font-size: 1.1rem;
  color: gray;
  transition: all linear 0.3s;
}
.left h2 {
  text-align: center;
  font-weight: 400;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}
.left .title-underline{
  position: relative;
  margin: 0 auto;
  width: 0%;
  height: 0.1rem;
  background-color: gray;
  transition: all ease-out 0.45s;
}
.left:hover .title-underline {
    width: 35%;
}
.left:hover h2{
  color: gray;
}
.left:hover h1{
  color: black;
}
.left:hover h5{
  color: black;
}
.left:hover {
  width: 60%;
}
.left .form{
  width: 50%;
  margin: 0 auto;
  margin-top: 5vh;
  padding: 5vh;
  transition: all ease-out 0.3s;
  color: white;
}
.left .form:hover{
  background-color: #E3EDED;
}
.left>div hr:nth-child(2){
  border-color: black !important;
}
.left .logingoogle img{
  width: 16px;
  height: 16px;
}
.left:hover ~ .right{
  width: 40%;
}
.right {
  display: inline;
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  transition: all ease-out 0.5s;
}
@media (max-width:1920px) {

}
@media (max-width:1600px) {

}
@media (max-width:1440px) {

}
@media (max-width:1024px) {
  .left h1{
    font-size: 3rem;
  }
  .left h5{
    font-size: 0.7rem;
  }
}
@media (max-width:768px) {
  body{
    background: white !important;
  }
  .left {
    background: white !important;
    background-color: white !important;
  }
  .shop h2{
    color: black;
  }
  .shop:hover h2{
    color: gray;
  }
  .left-signup {
    background-color: white !important;
  }
  .right{
    display: none;
  }
  .left{
    background: url("./res/coffee.jpg");
    background-position: top;
    color: black !important;
    width: 100%;
  }
  .left:hover{
    width: 100%;
  }
  .left h1{
    color: gray;
  }
  .left h5 {
    color: gray;
  }
  .left:hover h1{
    color: black;
  }
  .left:hover h5{
    color: black;
  }
  .left-signup:hover h1{
    color: black !important;
  }
  .left-signup:hover h5{
    color: black !important;
  }
  .left .form{
    background-color: white;
  }
  .left .signup-page{
    width: 90% !important;
    background-color: white !important;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  }
  .left .signup-page h6{
    color: black !important;
    font-size: 0.8rem;
  }
  .shop .product-card{
    display: inline-block !important;
    position: relative !important;
    width: 40% !important;
    margin: 0 auto;
    margin-top: 2%;
    margin-left: 2%;
  }
}
@media (max-width:425px) {
  .shop {
    width: 100%;
    background-color: white;
    height: auto;
  }
  .left h1{
    font-size: 2.5rem;
  }
  .shop .product-card{
    display: block !important;
    position: relative !important;
    width: 90% !important;
    margin: 0 auto !important;
    margin-top: 2% !important;
  }
  .form {
    width: 80% !important;
  }
}
@media (max-width:375px) {
  .left h1{
    font-size: 2rem;
  }
  .left h2 {
    font-size: 1rem;
  }
  .left h5 {
    font-size: 0.6rem;
  }
}
@media (max-width:320px) {
  .left .form span{
    font-size: 0.7rem !important;
  }
}
.divider {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.left-signup {
  width: 100% !important;
  /*height: auto !important;*/
  transition: all ease-out 0.3s;
}
.left-signup:hover .title-underline{
  width: 20% !important;
}
.right-signup {
  display: none;
  transition: all ease-out 0.3s;
}
.signup-page {
  text-align: left;
  position: relative;
  width: 60% !important;
  padding: 0 20% 5% 20%;
  margin: 0 !important;
  background-color: white;
}
.signup-page .divider {
  background-color: black !important;
}
.signup-page h1{
  margin: 0 !important;
  margin-top: 3% !important;
}
.signup-page h5{
  text-align: center;
  margin-bottom: 3% !important;
}
.signup-page .toLogin>div{
  background-color: rgba(190,190,190,0.4) !important;
}
.left-signup>div hr:nth-child(2){
  border-color: rgb(0, 188, 212) !important;
}
h4{
  color: black !important;
  margin-bottom: 2% !important;
}
.loggedin-name {
  text-transform: capitalize;
}
.shop {
  width: 100%;
  height: auto;
  background: white;
}
.shop .product-card{
  display: inline-block;
  position: relative;
  width: 20% ;
  margin-left: 1%;
  margin-top: 2%;
}
.product-card span:first-child {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden;
}
.product-card input {
  text-align: center !important;
}
.product-card>div>div>div{
  width: 50% !important;
  margin: -15% auto 0 auto !important;
}
.user-toolbar{
  color: black !important;
  width: 100% !important;
  position: sticky;
  top: -0.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  z-index: 2;
  border-bottom: 2px solid black;
  background-color: white;
}
.user-toolbar-content{
  color: black !important;
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.user-toolbar-name{
  color: black !important;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 33%;
  text-transform: capitalize;
  text-overflow: ellipsis;
}
.user-toolbar-cart{
  color: black !important;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 33%;
}
.user-toolbar-cart .cart-icon{
  padding: 0 !important;
  margin-left: -2.5% !important;
}
.user-toolbar-cart .cart-icon span{
  top: 20% !important;
  right: -20% !important;
}
.user-toolbar-button{
  color: black !important;
  margin: 0;
  display: inline-block;
  position: relative;
  padding: 0 9%;
  width: 15%;
}
.cart-items{
  text-align: left !important;
}
.cart-bottom {
  position: fixed;
  bottom: 0;
  width: 99%;
  left: 0.5%;
}
